
<h1 style="color: green; text-align: center; padding: 2rem">Main table</h1>
<div class="container">
  <div class="table-container">
    <ng-container  *ngIf="dataSource$ | async  as tempData">
      <div>
        <table style="margin: auto; margin-top: 4rem" mat-table [dataSource]="tempData" class="mat-elevation-z8 demo-table">
          <ng-container [matColumnDef]="column" *ngFor="let column of tableProperties">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableProperties"></tr>
          <tr mat-row *matRowDef="let row; columns: tableProperties;"></tr>
        </table>

      </div>
    </ng-container>

  </div>
  <h3 style="color: red; text-align: center; font-weight: bold; margin-top: 3rem;">Attribute Selector</h3>
  <div class="form-container">
    <form style="width: 100%"  [formGroup]="selectAttributesForm"  (ngSubmit)="onSubmit()" >
      <div class="options-container">



        <mat-form-field class="first-attribute-select" appearance="fill">
          <mat-label>Select an attribute for first column</mat-label>
          <mat-select formControlName="first_attribute" name="options">
            <mat-option *ngFor="let option of tableProperties" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="first-attribute-select" appearance="fill">
          <mat-label>Select an attribute for second column</mat-label>
          <mat-select formControlName="second_attribute" name="options">
            <mat-option *ngFor="let option of tableProperties" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-form-field style="display: block;" appearance="fill">
        <mat-label>New attribute name</mat-label>
        <input
         matInput
         formControlName="new_name_attribute"
         >
      </mat-form-field>
      <button style="margin: 1rem" type="submit">Insert Selected attributes ( columns ) into secondary table</button>
    </form>
  </div>

  <h1 style="color: blue; text-align: center; padding: 2rem">Temporary table</h1>
  <ng-container
  *ngIf="temporaryViewTableData$ | async as tempData"
  >
  <div>

    {{tempData | json}}
  </div>

  <h3 style="color: red; text-align: center; font-weight: bold; margin-top: 3rem;">Attribute Table</h3>
  <table style="margin: auto; margin-top: 4rem" mat-table [dataSource]="tempData" class="mat-elevation-z8 demo-table">
    <ng-container [matColumnDef]="column" *ngFor="let column of temporaryViewTableProperties">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="temporaryViewTableProperties"></tr>
    <tr mat-row *matRowDef="let row; columns: temporaryViewTableProperties;"></tr>
  </table>
</ng-container>


<!-- <div>
  SelectedFirstColumnKeys: -> {{selectedFirstColumnKeys$ | async | json}}
</div> -->
